<!DOCTYPE html>
<html>
<head>
  <title>MakingCMS</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  {{> site/header }}
  <div class="container">
    {{ body }}
  </div>
</body>
</html>
